<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gec.learningmaterials">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".cse.II.sem1.unit6.dld"></activity>
        <activity android:name=".cse.II.sem1.unit5.dld" />
        <activity android:name=".cse.II.sem1.unit4.dld" />
        <activity android:name=".cse.II.sem1.unit3.dld" />
        <activity android:name=".cse.II.sem1.unit2.oops" />
        <activity android:name=".cse.II.sem1.unit2.mefa" />
        <activity android:name=".cse.II.sem1.unit2.ds" />
        <activity android:name=".cse.II.sem1.unit2.dms" />
        <activity android:name=".cse.II.sem1.unit2.dld" />
        <activity android:name=".cse.II.sem1.unit2.u2" />
        <activity android:name=".cse.II.sem1.unit1.mefa" />
        <activity android:name=".cse.II.sem1.unit1.oops" />
        <activity android:name=".cse.II.sem1.unit1.dld" />
        <activity android:name=".cse.II.sem1.unit1.ds" />
        <activity android:name=".cse.II.sem1.unit1.u1" />
        <activity android:name=".cse.II.sem1.unit1.dms" />
        <activity android:name=".cse.I.sem2.unit6.u6" />
        <activity android:name=".cse.I.sem2.unit5.u5" />
        <activity android:name=".cse.I.sem2.unit4.u4" />
        <activity android:name=".cse.I.sem2.unit3.u3" />
        <activity android:name=".cse.I.sem2.unit2.u2" />
        <activity android:name=".cse.I.sem2.unit1.u1" />
        <activity android:name=".cse.I.sem" />
        <activity android:name=".cse.I.sem2.unit1.pp" />
        <activity android:name=".cse.I.sem2.unit1.eee" />
        <activity android:name=".cse.I.sem2.unit1.es" />
        <activity android:name=".cse.I.sem2.unit1.ap" />
        <activity android:name=".cse.I.sem2.unit1.nmde" />
        <activity android:name=".cse.I.sem2.unit2.pp" />
        <activity android:name=".cse.I.sem2.unit2.eee" />
        <activity android:name=".cse.I.sem2.unit2.es" />
        <activity android:name=".cse.I.sem2.unit2.ap" />
        <activity android:name=".cse.I.sem2.unit2.nmde" />
        <activity android:name=".cse.I.sem2.unit3.pp" />
        <activity android:name=".cse.I.sem2.unit3.eee" />
        <activity android:name=".cse.I.sem2.unit3.es" />
        <activity android:name=".cse.I.sem2.unit3.ap" />
        <activity android:name=".cse.I.sem2.unit3.nmde" />
        <activity android:name=".cse.I.sem2.unit4.pp" />
        <activity android:name=".cse.I.sem2.unit4.eee" />
        <activity android:name=".cse.I.sem2.unit4.es" />
        <activity android:name=".cse.I.sem2.unit4.ap" />
        <activity android:name=".cse.I.sem2.unit4.nmde" />
        <activity android:name=".cse.I.sem2.unit5.pp" />
        <activity android:name=".cse.I.sem2.unit5.eee" />
        <activity android:name=".cse.I.sem2.unit5.es" />
        <activity android:name=".cse.I.sem2.unit5.ap" />
        <activity android:name=".cse.I.sem2.unit5.nmde" />
        <activity android:name=".cse.I.sem2.unit6.pp" />
        <activity android:name=".cse.I.sem2.unit6.eee" />
        <activity android:name=".cse.I.sem2.unit6.es" />
        <activity android:name=".cse.I.sem2.unit6.ap" />
        <activity android:name=".cse.I.sem2.unit6.nmde" />
        <activity android:name=".cse.I.sem1.unit3.che33" />
        <activity android:name=".cse.I.sem1.unit3.lait3" />
        <activity android:name=".cse.I.sem1.unit3.ens3" />
        <activity android:name=".cse.I.sem1.unit3.che3" />
        <activity android:name=".cse.I.sem1.unit3.u3" />
        <activity android:name=".cse.I.sem1.unit3.bee3" />
        <activity android:name=".cse.I.sem1.unit3.pstcp3" />
        <activity android:name=".cse.I.sem1.unit6.u6" />
        <activity android:name=".cse.I.sem1.unit5.u5" />
        <activity android:name=".cse.I.sem1.unit4.u4" />
        <activity android:name=".cse.I.sem1.unit2.u2" />
        <activity android:name=".cse.I.sem1.unit1.u1" />
        <activity android:name=".cse.I.sem1.unit1.lait1" />
        <activity android:name=".cse.I.sem1.unit1.ens1" />
        <activity android:name=".cse.I.sem1.unit1.che1" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".cse.I.sem1.unit1.pstcp1" />
        <activity android:name=".cse.I.sem1.unit2.bee2" />
        <activity android:name=".cse.I.sem1.unit2.che2" />
        <activity android:name=".cse.I.sem1.unit2.ens2" />
        <activity android:name=".cse.I.sem1.unit2.lait2" />
        <activity android:name=".cse.I.sem1.unit2.pstcp2" />
        <activity android:name=".cse.I.sem1.unit4.bee4" />
        <activity android:name=".cse.I.sem1.unit4.che4" />
        <activity android:name=".cse.I.sem1.unit4.ens4" />
        <activity android:name=".cse.I.sem1.unit4.lait4" />
        <activity android:name=".cse.I.sem1.unit4.pstcp4" />
        <activity android:name=".cse.I.sem1.unit5.bee5" />
        <activity android:name=".cse.I.sem1.unit5.che5" />
        <activity android:name=".cse.I.sem1.unit5.ens5" />
        <activity android:name=".cse.I.sem1.unit5.lait5" />
        <activity android:name=".cse.I.sem1.unit5.pstcp5" />
        <activity android:name=".cse.I.sem1.unit6.bee6" />
        <activity android:name=".cse.I.sem1.unit6.che6" />
        <activity android:name=".cse.I.sem1.unit6.ens6" />
        <activity android:name=".cse.I.sem1.unit6.lait6" />
        <activity android:name=".cse.I.sem1.unit6.pstcp6" />
        <activity android:name=".civil.I.sem" />
        <activity android:name=".civil.I.sem1" />
        <activity android:name=".civil.I.sem2" />
        <activity android:name=".civil.II.sem" />
        <activity android:name=".civil.II.sem1" />
        <activity android:name=".civil.II.sem2" />
        <activity android:name=".civil.III.sem" />
        <activity android:name=".civil.III.sem1" />
        <activity android:name=".civil.III.sem2" />
        <activity android:name=".civil.IV.sem" />
        <activity android:name=".civil.IV.sem1" />
        <activity android:name=".civil.IV.sem2" />
        <activity android:name=".cse.I.sem1.unit1.bee1" />
        <activity android:name=".cse.I.sem1.sem1" />
        <activity android:name=".cse.I.sem2.sem2" />
        <activity android:name=".cse.II.sem" />
        <activity android:name=".cse.II.sem1.sem1" />
        <activity android:name=".cse.II.sem2.sem2" />
        <activity android:name=".cse.III.sem" />
        <activity android:name=".cse.III.sem1" />
        <activity android:name=".cse.III.sem2" />
        <activity android:name=".cse.IV.sem" />
        <activity android:name=".cse.IV.sem1" />
        <activity android:name=".cse.IV.sem2" />
        <activity android:name=".ece.I.sem" />
        <activity android:name=".ece.I.sem1" />
        <activity android:name=".ece.I.sem2" />
        <activity android:name=".ece.II.sem" />
        <activity android:name=".ece.II.sem1" />
        <activity android:name=".ece.II.sem2" />
        <activity android:name=".ece.III.sem" />
        <activity android:name=".ece.III.sem1" />
        <activity android:name=".ece.III.sem2" />
        <activity android:name=".ece.IV.sem" />
        <activity android:name=".ece.IV.sem1" />
        <activity android:name=".ece.IV.sem2" />
        <activity android:name=".eee.I.sem" />
        <activity android:name=".eee.I.sem1" />
        <activity android:name=".eee.I.sem2" />
        <activity android:name=".eee.II.sem" />
        <activity android:name=".eee.II.sem1" />
        <activity android:name=".eee.II.sem2" />
        <activity android:name=".eee.III.sem" />
        <activity android:name=".eee.III.sem1" />
        <activity android:name=".eee.III.sem2" />
        <activity android:name=".eee.IV.sem" />
        <activity android:name=".eee.IV.sem1" />
        <activity android:name=".eee.IV.sem2" />
        <activity android:name=".it.I.sem" />
        <activity android:name=".it.I.sem1" />
        <activity android:name=".it.I.sem2" />
        <activity android:name=".it.II.sem" />
        <activity android:name=".it.II.sem1" />
        <activity android:name=".it.II.sem2" />
        <activity android:name=".it.III.sem" />
        <activity android:name=".it.III.sem1" />
        <activity android:name=".it.III.sem2" />
        <activity android:name=".it.IV.sem" />
        <activity android:name=".it.IV.sem1" />
        <activity android:name=".it.IV.sem2" />
        <activity android:name=".eee.eeey" />
        <activity android:name=".ece.ecey" />
        <activity android:name=".mech.mechy" />
        <activity android:name=".civil.civily" />
        <activity android:name=".it.ity" />
        <activity android:name=".cse.csey" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>